<html>
<head>
  <title>AgularJS</title>
  <script type="text/javascript" src="angular.js"></script>
  <script type="text/javascript" src="filters.js"></script>
  <script type="text/javascript" src="main.js"></script>
</head>
<body>

<div ng-app="myApp">

  <div ng-controller="firstCtrl">
    <input type="text" ng-model="data.message">
    <h1>{{data.message}}</h1>
  </div>

  <div ng-controller="secondCtrl">
    <input type="text" ng-model="data.message">
    <h1>{{data.message|reverse}}</h1>
  </div>
  <hr/>

  <div ng-controller="thirdCtrl">
  	This text will search hero: <input type="text" ng-model="searchText.hero"><br/>
  	This text will search secret identity: <input type="text" ng-model="searchText.secretIdentity"><br/>
  	This text will search either: <input type="text" ng-model="searchText.$"><br/>

  	<table>
  	  <tr ng-repeat="superHero in superHeros | filter:searchText">
  	    <td>{{superHero.hero}}</td>
  	    <td>{{superHero.secretIdentity}}</td>
  	  </tr>
  	</table>
  	<br/>
  </div>
  <hr/>

  <batman superman class="flash"></batman>

</div>

</body>
</html>