<html>
<head>
  <title>AgularJS</title>
  <link rel="stylesheet" href="foundation.min.css">
</head>
<body>

<div ng-app="myApp">

  <div ng-controller="firstCtrl">
    <input type="text" ng-model="data.message">
    <h1>{{data.message}}</h1>
  </div>

  <div ng-controller="secondCtrl">
    <input type="text" ng-model="data.message">
    <h1>{{data.message|reverse}}</h1>
  </div>
  <hr/>

  <div ng-controller="thirdCtrl">
  	This text will search hero: <input type="text" ng-model="searchText.hero"><br/>
  	This text will search secret identity: <input type="text" ng-model="searchText.secretIdentity"><br/>
  	This text will search either: <input type="text" ng-model="searchText.$"><br/>

  	<table>
  	  <tr ng-repeat="superHero in superHeros | filter:searchText">
  	    <td>{{superHero.hero}}</td>
  	    <td>{{superHero.secretIdentity}}</td>
  	  </tr>
  	</table>
  	<br/>
  </div>
  <hr/>

  <batman superman class="flash"></batman>

  <myButton></mybutton>

  <hr/>

  <div enter="panel" leave>I'm content!</div>

  <hr/>

  <div ng-controller="twitterCtrl">
    <div moretweets="addMoreTweets()">Roll over to add more tweets</div>
  </div>
</div>


<script type="text/javascript" src="angular.js"></script>
<script type="text/javascript" src="Egghead.io vids 1-14.js"></script>
</body>
</html>